extends layout
block content
 h2 hello from index
 p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet luctus venenatis lectus magna fringilla. Sed viverra ipsum nunc aliquet. Cursus euismod quis viverra nibh cras. Eu augue ut lectus arcu bibendum. Tincidunt arcu non sodales neque. Massa tincidunt dui ut ornare lectus sit. Felis eget nunc lobortis mattis aliquam. Nibh tellus molestie nunc non blandit massa enim nec dui. At urna condimentum mattis pellentesque id. Aliquam faucibus purus in massa. Penatibus et magnis dis parturient montes nascetur ridiculus. Lectus magna fringilla urna porttitor rhoncus.