extends layout
block content
 main 
  div.post
   h2 Post
   if user 
    form.create-post(action="" method="post")
     label(for="title") Title:
      input(type="text" name="title" id="title") 
     label(for="content") Content:
      br
      textarea#content(name="content",rows="7") 
     button.submit-btn Submit 

   else 
    p.login-prompt Login to submit a message
   
   p *only memebers can view the posts details
  div.board
   h2 Message Board
   for post in posts
    article.message
     h4=post.title
     p=post.content
     div.message-details 
      span.name="By: " + (user? user.isMember ? post.user.fullName: "Unknown":"Unknown")  
      span= (user? user.isMember ? post.formattedDate : "Unknown":"Unknown")  
