doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css",href="/styles/styles.css")
        title Message Board
    body 
    nav 
     ul 
      li
       div.logo Message Board
      
      li
       a(href="/") Home 
      li
       a(href="/register") Register 
      li
       a(href="/login") Login 
      li
       a(href="/members-form") Become a memeber 
    div.content
     block content