extends layout
block content
 h1 Become a member
 form(action="" method="post")
  label(for="memebersCode") Members Code:
   input(type="password" name="membersCode" id="memebersCode") 
  button.submit-btn Submit 