body {
  margin: 0;
  min-height: 100vh;
  font-family: "roboto";
}

.content {
  padding: 1rem;
  width: 70%;
  margin: auto;
  color: rgb(64, 106, 183);
}

nav ul a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

nav ul a:hover {
  color: #ccc;
}

nav ul {
  list-style-type: none;
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  align-items: center;
}

nav {
  width: 100%;
  background-color: cornflowerblue;
  color: white;
  margin: 0;
  padding: 0.1rem;
  position: sticky;
  top: 0;
  padding-left: 1rem;
}

.logo {
  font-size: 1.3rem;
  letter-spacing: -1px;
}

form label {
  display: block;
  font-size: 1.2rem;
}

form label input {
  width: 50%;
  display: block;
  margin: 0.5rem 0;
  font-size: 1.1rem;
  padding: 0.2rem;
}

.submit-btn {
  border: none;
  padding: 0.5rem 0.8rem;
  background-color: rgb(64, 106, 183);
  color: white;
  font-size: 1.2rem;
  border-radius: 18px;
  letter-spacing: -0.5px;
  margin-top: 0.5rem;
}
.submit-btn:hover {
  cursor: pointer;
  background-color: cornflowerblue;
}

form.create-post textarea,
form.create-post input {
  width: 100%;
}

.login-prompt {
  font-size: 1.3rem;
  font-weight: bold;
}

main {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 2rem;
}
.board {
  max-height: 100vh;
  overflow: scroll;
}
.message {
  border: 1px solid lightblue;
  padding: 0.8rem;
  border-radius: 5px;
  padding-top: 0;
}
.name {
  font-weight: 600;
}
.message-details {
  display: flex;
  gap: 0.5rem;
  border-top: 1px solid rgba(128, 128, 128, 0.25);
  justify-content: space-between;
  padding-top: 0.5rem;
}

.delete-btn {
  color: rgb(186, 61, 61);
  margin-top: 0.5rem;
  box-shadow: none;
  cursor: pointer;
}

.error {
  color: rgb(179, 45, 45);
  font-weight: bolder;
}
